@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.title {
  margin-left: 10%;
  margin:9%;
  font-size: 500%;
}
.margin {
  margin: 15px;
}

.marginNext{
  position:relative;
  right:1%;
  top: 1%;
}
.nav-container{
  font-family: 'Poppins',sans-serif;
  margin-top:1%;
  text-align: right;
  font-weight: bold;
  
}

.nav-container a{

  font-size: 25px;
}


.backgroundPic {
  font-family: 'Sacramento',sans-serif;
  color: white;
  height:1600px ;
  background-image: url(vacationpicture.png);
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -10%;
}


.next {
  height:1600px ;
  background-image: url(vacationpicture.png);
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.calendar{
  margin-top: -5%;
  
}
.bgcolor{
  height:1400px ;
  background-image: url(vacationpictures2.jpg);
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.calendar-body{
  margin-left: 63%;
  margin-top: 9%;
}

.calendar-select-dates{

  
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-size:50px;
  text-align: center;
  color: black;
  
}
.calendar-select-dates-defualt{
    
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-size:50px;
  color: rgb(255, 255, 255);
  margin-left: 30%;
}

.add-event-btn {
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-size:50px;
  text-align: center;
  color: rgb(255, 255, 255);
  
}