@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.title {
  margin-left: 10%;
  margin:9%;
  font-size: 500%;
}
.margin {
  margin: 15px;
}
.nav-container{
  font-family: 'Poppins',sans-serif;
  margin-top:1%;
  text-align: right;
  font-weight: bold;
}


.backgroundPic {
  font-family: 'Sacramento',sans-serif;
  color: white;
  height:1200px ;
  background-image: url(vacationpicture.png);
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -8%;
}


.next {
  height:800px ;
  background-image: url(vacationpicture.png);
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.calendar{
  margin-top: -3%;
  height:1600px ;
  background-image: url(vacationpicture.png);
  max-width: 100%;
  background-size: cover;
  background-attachment: absolute;

  
}

.calendar-body{
  margin-left: 20%;
  margin-top: 10%;



  
}

.addVaction{

  
}
